/* globals */

* {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

body {
  font-family: Arial, sans-serif;
  background-color: #101010;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23f1f0f1' fill-opacity='0.13'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  color: #ffffff;
}

/* nav/header */

.header {
  width: 100%;
  background-color: #6b6b6b00;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  height: 80px;
}
.nav-container {
  width: auto;
  height: auto;
  background-color: #ffffff00;
  display: flex;
  top: 0;
}

.nav-contents {
  width: 100%;
  height: auto;
  background-color: #ffffff00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-contents ul {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  display: flex;
  gap: 1.5em;
  font-size: 30px;
}

.nav-contents a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}
.nav-contents a:hover {
  color: yellow;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 0 30px;
  -webkit-text-stroke: 1px black;
}
.sublogo {
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
  margin-left: 3px;
  display: block;
  -webkit-text-stroke: 1px black;
  z-index: 9999;
}

/* hero */
.hero {
  margin-top: -80px;
  height: 100vh;
  width: auto;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("rye_ivanshishkin.jpg");
  background-size: cover;
}
.hero image {
  filter: brightness(60%);
}

.hero span {
  letter-spacing: 3px;
  font-size: 110px;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: 900;
}
.hero span:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.08);
}

.hero h1 {
  margin: 30vh 0 0 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 100px;
}
/* about */

.about {
  height: 50vh;
  width: auto;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #000000;
  background: url("");
  background-size: cover;
}
.profile-pic {
  width: 200px;
  height: 200px;

  object-fit: cover;
}

.about span {
  letter-spacing: 3px;
  font-size: 110px;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: 900;
}
.about span:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.08);
}

.about h1 {
  margin: 30vh 0 0 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 100px;
}

/* end/footer */
.end {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding: 40px;
  color: rgb(255, 255, 255);
  background-color: black;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
}

.end a:link,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}
.end a:active {
  text-decoration: underline;
}

.end ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
